<!DOCTYPE html>
<html lang="es">
    <head>
        <title>{% block title %}Mi Página{% endblock %}</title>

        {% block head_content %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/info.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}"></noscript>
        <link rel="icon" href="{{ url_for('static', filename='images/icono.ico') }}" type="image/png">
        {% endblock %}
    </head>
    
    <body class="is-preload">

        <!-- navbar -->

         {% block navbar %}

        <ul class="navbar">
            <li><a href="#header">Inicio</a></li>
            <li><a href="#one">Recorridos</a></li>
            <li><a href="#two">Auspiciantes</a></li>
            <li><a href="#three">Modalidades</a></li>
            <li><a href="#four">Registrarse</a></li>
        </ul>


         {% endblock %}

        {% block content %}{% endblock %}

        <!-- footer -->

      {% block footer %}
      
        <section id="footer">
        <ul class="footer-info">
            <li>
                <img src="{{ url_for('static', filename='images/github.png') }}" alt="GitHub" class="footer-icon" width="20">
                <span class="footer-text">
                    <a href="https://github.com/ValentinSomoza/Tp2-IDS" target="_blank" rel="noopener noreferrer">GitHub</a>
                </span>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/wsp.png') }}" alt="WhatsApp" class="footer-icon" width="20">
                <span class="footer-text">
                    <a href="https://wa.me/5491123456789" target="_blank" rel="noopener noreferrer">+54 9 11 2345-6789</a>
                </span>
            </li>
            <li>
                <img src="{{ url_for('static', filename='images/mail.png') }}" alt="Email" class="footer-icon" width="20">
                <span class="footer-text">
                    <a href="mailto:ejemplo@email.com">ejemplo@email.com</a>
                </span>
            </li>
        </ul>
        <section id="footer-legal">
            <p class="footer-legal-CSYDPUP">Club Social Y Deportivo Unidos Por El Deporte &copy; 2025 Todos los derechos reservados</p>
            <ul class="footer-legal-list">
                <li><a href="http://Aviso-legal.html">Aviso-legal</a></li>
                <li><a href="http://Política-de-privacidad.html">Política de privacidad</a></li>
                <li><a href="http://Política-de-cookies.html">Política de cookies</a></li>
            </ul>
        </section>
    </section>

      
     {% endblock %}
        

    </body>
</html>