<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="{{url_for('static', 
filename='/css/style.css', _external=True)}}">
</head>
<body id="Fondo">
    <h1 class="Fuente">Club Social y Deportivo Unidos por el Deporte</h1>
    <div class="Centrarimagen">
        <img src="{{ url_for('static', filename='images/MTB.png')}}"> 
    </div>
    <p class="Fuente">En 2025, los Campeonatos de Mountain Bike organizado por nuestro club harán historia con dos semanas de competición, del 24 de octubre al 7 de noviembre de 2025 a las 8am. Por primera vez, las ocho disciplinas de mountain bike (cross-country, downhill, e-bike, enduro, e-enduro, maratón, pump track y short track) se celebrarán en una única región en la ciudad de Tandil en Buenos Aires.

Existen dos modalidades corta y larga, la primera es de 30 km y la segunda de 80km.</p>
    <footer>Facebook,Instagram,Youtube,Spotify,Mail</footer>
</body>
</html>