{% extends "base.html" %}

{% block title %}Inicio{% endblock %}flask runn

{% block content %}

<!-- navbar -->

<!-- header -->
<section id="inicio">
    <div class="inner">
        <li><img src="{{ url_for('static', filename='images/frontLogo.png') }}" alt="Icono 0" width="400"></li>
        <h1><strong>Club Social y Deportivo Unidos por el Deporte</strong></h1>
        <p><strong>Página oficial del evento de ciclismo MTB rural</strong></p>
        <ul class="actions special">
            <li><a href="{{ url_for('registro') }}" class="button"><strong>Inscribirse</strong></a></li>
        </ul>
    </div>
</section>

<section id="recorrido" class="main style1">
    <div class="container">
        <div class="row gtr-150">

            <!-- columna izquierda-->
            <div class="col-6 col-12-medium">
                <div class="major-title">Mapa del recorrido</div>
                <p>El recorrido arranca desde la FIUBA hasta el Congreso para quejarnos de la situación financiera de la institución</p>
                <div id="mapContainer">
                    <iframe 
                        src="https://www.google.com/maps/d/u/0/embed?mid=1T0AutS0XBtSbQTLyK-XseOV9Ir664f4&ehbc=2E312F&noprof=1"
                        width="100%" 
                        height="600" 
                        style="border:0;" 
                        allowfullscreen>
                    </iframe>
                </div>
            </div>

            <!-- columna derecha -->
            <div class="col-6 col-12-medium">
                <div class="major"><h3>Detalles del recorrido</h3></div>
                <ul class="info-list">
                    <li>📍 A - Punto de salida: Facultad de Ingeniería (FIUBA)</li>
                    <li>📍 B - Punto de llegada: Congreso de la Nación Argentina</li>
                </ul>
                <div class="major">
                    <h4>💧 Puntos de hidratación:</h4>
                    <ul class="info-list">
                        <li>1 - Carlos Calvo 491, C1102AAI Cdad. Autónoma de Buenos Aires</li>
                        <li>2 - Chile 1805, C1227 Cdad. Autónoma de Buenos Aires</li>
                        <li>3 - Rincón 292, C1081ABF Cdad. Autónoma de Buenos Aires</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="auspiciantes" class="main style2"> <!-- auspiciantes -->
    <div class="container">
        <div class="row gtr-150">
            <div class="col-6 col-12-medium"> <!-- columna izquierda -->
                <ul class="major-icons-grid">
                    <li>
                        <a href="https://www.lockheedmartin.com/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/lockheedMartin.png') }}" alt="Icono 1" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://rosamonte.com.ar/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Rosamonte.png') }}" alt="Icono 2" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.shimano.com/en/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Shimano.png') }}" alt="Icono 3" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.gatorade.com/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Gatorade.png') }}" alt="Icono 4" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.war.gov/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/US.png') }}" alt="Icono 5" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://web.lacteosbarraza.com.ar/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Barraza.png') }}" alt="Icono 6" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.5hispanos.com/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/5Hispanos.png') }}" alt="Icono 7" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://epicbikes.com.ar/?v=909ba4ad2bda" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/EpicBike25-2.png') }}" alt="Icono 8" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.google.com.ar" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Magenta-2.png') }}" alt="Icono 9" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.mellmell.com.ar/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/MellMell.png') }}" alt="Icono 10" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.nutremax.com.ar/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Nutremax25.png') }}" alt="Icono 11" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://riocordillerano.com.ar/" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/RioCordillerano25.png') }}" alt="Icono 12" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://www.google.com.ar" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/Samurai25.png') }}" alt="Icono 13" class="major-icon">
                        </a>
                    </li>

                    <li>
                        <a href="https://soxmedias.com/?gad_source=1&gad_campaignid=20477246580&gclid=Cj0KCQjwrc7GBhCfARIsAHGcW5VxLXC9FvovmwKRns4Wyc35zNa6dJmoJVMwiQM3BGTsSNuUcxvD-vwaAp5xEALw_wcB" target="_blank">
                            <img src="{{ url_for('static', filename='images/auspiciantes/SOX.png') }}" alt="Icono 14" class="major-icon">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-12-medium"> <!-- columna derecha-->
                <header class="major">
                    <h2>Auspiciantes</h2>
                </header>
                <strong>Lockheed Martin</strong> 
                <span>Líder mundial en defensa, aviación y tecnología militar avanzada.</span><br><br>

                <strong>Rosamonte</strong> 
                <span>Tradicional empresa argentina dedicada a la producción de yerba mate.</span><br><br>

                <strong>Shimano</strong> 
                <span>Fabricante japonés líder en componentes de ciclismo, pesca y remo.</span><br><br>

                <strong>Gatorade</strong> 
                <span>Bebida deportiva global enfocada en hidratación y rendimiento físico.</span><br><br>

                <strong>Departamento de defensa de los Estados Unidos</strong> 
                <span>Institución gubernamental encargada de seguridad nacional y defensa militar.</span><br><br>

                <strong>Barraza</strong> 
                <span>Marca argentina reconocida por sus lácteos de calidad.</span><br><br>

                <strong>Los 5 Hispanos</strong> 
                <span>Proveedor mayorista de alimentos para comercios y distribuidores.</span><br><br>

                <strong>Epic Bikes</strong> 
                <span>Comercio especializado en la venta de bicicletas y accesorios para ciclistas.</span><br><br>

                <strong>Magenta</strong> 
                <span>?????</span><br><br>

                <strong>Mell Mell</strong> 
                <span>Empresa dedicada al turismo y alojamiento en diferentes destinos.</span><br><br>

                <strong>Nutremax</strong> 
                <span>Empresa enfocada en la investigación, desarrollo y producción de suplementos dietarios deportivos.</span><br><br>

                <strong>Rio Cordillerano</strong> 
                <span>Empresa de Tandil que vende agua envasada, soda en sifones y equipos de dispensado.</span><br><br>

                <strong>Samurai</strong> 
                <span>?????</span><br><br>

                <strong>SOX</strong> 
                <span>Marca de medias deportivas, de vestir y tecnológicas fabricada por MEDIARG en Pigüé.</span><br><br>

            </div>
        </div>
    </div>
</section>

<section id="modalidades" class="main style1 special">

    <div class="container"> <!-- primer conteiner -->
        <header class="major">
            <h2>Modalidades de ciclismo</h2>
            <h3>CROSS-COUNTRY</h3>
        </header>
        <p>
            La disciplina más conocida del ciclismo de montaña que prioriza la velocidad que implica
            pedaleo a través de montañas que dificultan las subidas empinadas y bajadas con obtaculos 

        </p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
                    <h3>Resistencia y velocidad</h3>
                    <p>La disciplina más conocida implica pedaleo en senderos con dificultades técnicas...</p>
                </div>
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>    
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container"> <!-- segundo conteiner -->
        <header class="major">
            <h3>ALL MONTAIN</h3>
        </header>
        <p>La bicicleta de montaña o mountain bike (MTB por sus siglas en inglés), engloba el mayor conjunto de modalidades dentro del ciclismo...</p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
                    <h3>titlle3</h3>
                    <p>parrafo</p>
                </div>    
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container"> <!-- tercer conteiner -->
        <header class="major">
            <h3>TRAIL</h3>
        </header>
        <p>parrafo</p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic02.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic03.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>    
            </div>

            <div class="col-4 col-12-medium">
                <div class="cuadroimg">
                    <span class="image fit"><img src="{{ url_for('static', filename='images/pic04.jpg') }}" alt="" /></span>
                    <h3>title3</h3>
                    <p>parrafo</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="registrarse" class="main style2 special">
    <div class="container">
        <header class="major">
            <h2>Información relevante</h2>
        </header>
        <p>Descarga el reglamento y el deslinde</p>
        <ul class="actions special">
            <li><a href="#" class="button wide primary">Reglamento</a></li>
            <li><a href="#" class="button wide primary">Deslinde</a></li>
        </ul>
    </div>
</section>

<!-- footer -->

<!-- scripts -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}