{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="form-container">
    <form id="registroForm" action="{{ url_for('registro')}}" method="post">
        <label for="firstname">Nombre:</label>
        <input type="text" id="firstname" name="fname" placeholder="Nombre" required>
        <label for="lastname">Apellido:</label>
        <input type="text" id="lastname" name="lname" placeholder="Apellido" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
</div>

<div id="mensaje">Formulario enviado!</div>

<script src="{{ url_for('static', filename='js/registro.js') }}"></script>
<script>
    const enviado = "{{ enviado }}".toLowerCase() === "true";
</script>
{% endblock %}