/* Para listas */
.info-list {
    list-style: none;   
    padding-left: 0;    
    margin-top: 0;    
}

.info-list li {
    margin-bottom: 5px; /
}

/* Grilla de iconos */
.major-icons-grid {
    list-style: none;      
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;             
}

.major-icons-grid li {
    display: flex;
    justify-content: center;  
    align-items: center;
}

.major-icons-grid .major-icon {
    width: 240px;   
    height: 240px;  
    object-fit: contain;
}
