
.navbar {
  display: block;
  top :0;
  z-index: 1;
  position: sticky;
  list-style-type: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar li {
  display: flex;
  width: auto;
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.navbar a {
  width: 100%;
  height: 100%;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
  border-bottom: none;
}

.navbar a:hover {
  background-color: #111111;
}
.navbar img {
  display: flex;
  max-width: 55px;
  height: auto;
  padding: 2px;
  margin: 0px;
}




    

